.row
  = render 'shared/pageheader', title:"Create Category"

.row
  .col-sm-12
    = link_to categories_path do
      %p.pull-left
        %span.glyphicon.glyphicon-th-list{"aria-hidden" => "true"}
        Go to Categories List
    
    = link_to keychains_path do
      %p.pull-right
        %span.glyphicon.glyphicon-th-list{"aria-hidden" => "true"}
        Go to Keychains List
      
.row
  = render 'form', category: @category
  